.qr-info {
    margin-top: 10vh;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #222;
    text-align: center;
    max-width: 300px;
}

.qr-info code {
    word-break: break-all;
    user-select: all;
}