@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: black;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: inherit;
}

.btn {
    padding: 10px 20px;
    border: 1px solid;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    background-color: #000;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #222;
}

.btn-small {
    padding: 2px 10px;
    font-size: small;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 0;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1 !important;
    flex-shrink: initial !important;
    flex-basis: initial !important;
}

.flex-align-center {
    align-items: center;
}

.flex > div {
    flex: 1;
}

.m20 {
    margin: 20px;
}

@media (max-width: 1024px) {
    .mob-hide {
        display: none;
    }
}

.qr > canvas {
    border-radius: 20px;
}